Task 1

In [8]:
a = float(input("Введите первое число: "))
b = float(input("Введите второе число: "))
do = str(input("Операция (+, -, *, /): "))
 
if do == "+":
    c = a+b
    print("Результат: " + str(c))
 
elif do == "-":
    c = a-b
    print("Результат: " + str(c))
 
elif do == "*":
    c = a*b
    print("Результат: " + str(c))
 
elif do == "/":
    if a == 0 or b == 0:
        print("На ноль делить нельзя, Подумай")
    else:
        c = a/b
        print("Результат: " +  str(c))

Введите первое число: 4
Введите второе число: 2
Операция (+, -, *, /): -
Результат: 2.0

Task 2

In [13]:
import collections

s = input("Please input a word: ")

counter = collections.Counter(s)

consonants = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'
num_consonants = sum(counter[char] for char in consonants)

vowels = 'aeiouAEIOU'
num_vowels = sum(counter[char] for char in vowels)

print('Vowels: ' + str(num_vowels) + ' Consonants: ' + str(num_consonants))

Please input a word: hello
Vowels: 2 Consonants: 3

Task 3

In [15]:
a = open("words.txt", "r").read()

print(max(a.split(), key=len))

Hello

Task 4

In [17]:
import random
import numpy as np
from random import uniform
 
arr = [uniform(-100, 100) for i in range(2)]
print(arr)
print(sorted(arr, key=lambda x: abs(x - int(x))))

[-69.81635830372797, -30.16600516628216]
[-30.16600516628216, -69.81635830372797]

Task 5

In [20]:
from collections import Counter

a = open("words.txt", "r").read()

counts=Counter(a)
for i in a:
    print(i,counts[i])

H 2
e 6
l 4
l 4
o 4
! 1
  11
M 2
y 2
  11
n 3
a 5
m 1
e 6
  11
i 2
s 2
  11
H 2
a 5
n 3
. 2
  11
M 2
y 2
  11
f 1
a 5
v 1
o 4
r 4
i 2
t 1
e 6
  11
c 1
o 4
l 4
o 4
r 4
s 2
  11
a 5
r 4
e 6
  11
b 1
l 4
u 1
e 6
  11
a 5
n 3
d 2
  11
r 4
e 6
d 2
. 2